In [1]:
import pandas as pd

In [2]:
x = pd.Series([34, 12, 23, 45])

In [3]:
print(x)

0    34
1    12
2    23
3    45
dtype: int64

In [4]:
x.dtype

dtype('int64')

In [5]:
import pandas as pd

In [6]:
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}

In [7]:
df = pd.DataFrame(data)

In [8]:
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

In [9]:
datatypes = df.dtypes

In [10]:
datatypes

month         object
temp           int64
below_zero      bool
dtype: object

In [ ]:
#Welche Skalenniveau besitzen die Variablen im obigen Beispiel?
month = nominalskaliert
temp = kardinalskaliert
below_zero = nominalskaliert

#Sind die Variablen stetig oder diskret?
month = diskret
temp = stetig
below_zero = diskret

#Was ist der Datentyp jeder einzelnen Spalte?
month = objekt
temp = int64
below_zero = bool

In [11]:
# Erweitere das Phyton-Dictionary und erstelle eine neue Zeile mit frn Werten ('Apr', 5, False); erstelle eine neue Spalte mit den Werten(2020, 2020, 2020,2020)
new_row = {'month':'Apr', 'temp':5, 'below_zero':False}
df = df.append(new_row, ignore_index=True)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
3   Apr     5       False

In [12]:
year = ['2020', '2020', '2020', '2020']

In [13]:
df['year'] = year

In [14]:
print(df)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Small.csv")

In [13]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0

In [14]:
df.to_json("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Small.json")

In [15]:
df = pd.read_json("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Small.json")

In [16]:
df.to_html("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Small.html")

In [17]:
df_list = pd.read_html("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Small.html")

In [18]:
df_list[0]

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
5,5,1,JUVENILE,1,0,10 to 19 years,M4,Merced,May,2016,z,email,True,2016,False,11.0
6,6,1,JUVENILE,293,11,0 to 9 years,M6,Mission,June,2016,z,email,True,2014,False,8.0
7,7,1,JUVENILE,900,6,0 to 9 years,V3,Visitacion Valley,June,2016,a,print,False,2011,False,10.0
8,8,1,JUVENILE,1569,801,10 to 19 years,W4,Western Addition,July,2016,z,email,True,2009,False,8.0
9,9,1,JUVENILE,45,0,0 to 9 years,A5,Anza,June,2016,z,email,True,2015,False,1.0
10,10,1,JUVENILE,0,0,0 to 9 years,S7,Sunset,None,None,p,phone,False,2015,False,7.0
11,11,1,JUVENILE,73,8,0 to 9 years,P3,Parkside,July,2016,z,email,True,2015,False,4.0
12,12,1,JUVENILE,12,0,0 to 9 years,X,Main Library,October,2015,z,email,True,2015,False,6.0
13,13,2,YOUNG ADULT,26,3,10 to 19 years,M4,Merced,November,2015,z,email,True,2009,False,NaN
14,14,0,ADULT,0,0,10 to 19 years,M4,Merced,None,None,z,email,True,2015,True,NaN
15,15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [19]:
df = pd.DataFrame(df_list[0])

In [20]:
df.to_excel("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Small.xlsx")

In [21]:
df = pd.read_excel("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Small.xlsx")

In [22]:
df.to_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Small_new.csv")

In [23]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,2,2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,3,3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,4,4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0

In [ ]:
# Vergleiche Sie die originale .csv Version mit der Version, nach der Datenrundreise. Ist alles gleich geblieben?


Nein, es sind neue Spalten (Unnamed:0, Unnamed: 0.1) dazu gekommen.

In [ ]:
#   Finde heraus, wie viel freier Arbeitsspeicher Dein Computer hat (Das Betriebssystem und Hintergrundprogramme verbrauchen auch RAM).

(base) nickli@nickli-VirtualBox:~$ free -b # Ausgabe in Byte
              gesamt      belegt     frei     gemeinsam    Zwischen   verfügbar
Speicher:  4116959232  2269851648   132382720    64593920  1714724864  1513918464
Auslager:  1964396544    40353792  1924042752

Wie viele int64 Werte, also Zahlen, die 8 Byte (=64 Bit) Speicher benötigen, kannst Du damit theoretisch in den Arbeitsspeicher laden?

Wenn ich mich auf den noch "frei" Wert im Speicher konzentriere, dann kann ich 16547840 int64 in meinen Arbeitsspeicher laden.

Wie viele Beobachtungen kann eine Tabelle mit 100 numerischen Variablen damit maximal theoretisch haben, damit Du diese noch bearbeiten kannst?

Eine Tabelle kann mit 100 numerischen Variablen damit maximal 165478 Beobachtungen haben damit man sie noch bearbeiten kann.

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Small.csv")

In [26]:
df.memory_usage()

Index                           128
Patron Type Code                160
Patron Type Definition          160
Total Checkouts                 160
Total Renewals                  160
Age Range                       160
Home Library Code               160
Home Library Definition         160
Circulation Active Month        160
Circulation Active Year         160
Notice Preference Code          160
Notice Preference Definition    160
Provided Email Address           20
Year Patron Registered          160
Outside of County                20
Supervisor District             160
dtype: int64

In [28]:
df.memory_usage(deep=True)

Index                            128
Patron Type Code                 160
Patron Type Definition          1290
Total Checkouts                  160
Total Renewals                   160
Age Range                       1404
Home Library Code               1178
Home Library Definition         1346
Circulation Active Month        1238
Circulation Active Year         1220
Notice Preference Code          1160
Notice Preference Definition    1240
Provided Email Address            20
Year Patron Registered           160
Outside of County                 20
Supervisor District              160
dtype: int64

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage.csv")

In [32]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [33]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0          0
1         22
2          0
3          0
4         11
          ..
423443    13
423444    11
423445    58
423446     0
423447     0
Name: Total Renewals, Length: 423448, dtype: int64
        Total Renewals  Total Checkouts
0                    0                0
1                   22               31
2                    0                0
3                    0                0
4                   11              126
...                ...              ...
423443              13              291
423444              11               15
423445              58              208
423446               0               26
423447               0                0

[423448 rows x 2 columns]

In [34]:
df['dummy_variable'] = 5

In [41]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

In [42]:
df['Circulation Active Year'] = pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

In [43]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

In [44]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

In [45]:
df['Membership Duration'] = (df['Circulation Active Year'] - df['Year Patron Registered'])*12 + df['Circulation Active Month']
df['Membership Duration']

0           NaN
1          76.0
2           NaN
3           NaN
4         157.0
          ...
423443     75.0
423444      7.0
423445     31.0
423446    148.0
423447      NaN
Name: Membership Duration, Length: 423448, dtype: float64

In [46]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)

In [47]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,dummy_variable,is_adult,log_renewals,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,5,True,0.000000,0.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,5,True,3.135494,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,5,True,0.000000,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,5,True,0.000000,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,5,True,2.484907,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0,5,True,2.639057,75.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0,5,True,2.484907,7.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0,5,False,4.077537,31.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0,5,True,0.000000,148.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,5,False,0.000000,0.0

In [49]:
import pandas as pd
df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage.csv")
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,NaN
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,6.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2003,False,3.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016,a,print,False,2003,False,3.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016,z,email,True,2003,False,11.0
39585,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,July,2016,p,phone,False,2003,False,3.0
57239,0,ADULT,10906,1421,45 to 54 years,P1,Park,July,2016,z,email,True,2003,False,8.0
86662,3,SENIOR,11748,963,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,5.0
117628,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
120604,3,SENIOR,10108,59,65 to 74 years,X,Main Library,November,2013,p,phone,False,2003,False,6.0
129341,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,July,2016,p,phone,False,2004,False,NaN
138351,0,ADULT,10809,24,20 to 24 years,S7,Sunset,July,2016,z,email,True,2010,False,4.0
145600,3,SENIOR,11871,50,65 to 74 years,M4,Merced,July,2016,z,email,True,2003,False,7.0
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
156806,0,ADULT,17308,257,60 to 64 years,X,Main Library,July,2016,z,email,True,2003,False,6.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
176606,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
200204,3,SENIOR,18397,6,65 to 74 years,X,Main Library,July,2016,z,email,True,2005,False,NaN
216300,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,July,2016,z,email,True,2003,False,4.0
222889,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2006,False,8.0
227568,3,SENIOR,11147,123,65 to 74 years,M6,Mission,July,2016,a,print,False,2003,False,NaN
231807,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2003,False,8.0
237668,0,ADULT,15505,294,60 to 64 years,X,Main Library,July,2016,p,phone,False,2004,False,6.0
255021,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,NaN
278408,3,SENIOR,11366,62,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
288655,0,ADULT,15598,228,55 to 59 years,X,Main Library,July,2016,p,phone,False,2003,False,11.0
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016,p,phone,False,2003,False,6.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015,p,phone,False,2003,False,3.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016,z,email,True,2004,True,NaN

In [50]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,NaN
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,6.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2003,False,3.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016,a,print,False,2003,False,3.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016,z,email,True,2003,False,11.0
39585,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,July,2016,p,phone,False,2003,False,3.0
57239,0,ADULT,10906,1421,45 to 54 years,P1,Park,July,2016,z,email,True,2003,False,8.0
86662,3,SENIOR,11748,963,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,5.0
117628,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
120604,3,SENIOR,10108,59,65 to 74 years,X,Main Library,November,2013,p,phone,False,2003,False,6.0
129341,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,July,2016,p,phone,False,2004,False,NaN
138351,0,ADULT,10809,24,20 to 24 years,S7,Sunset,July,2016,z,email,True,2010,False,4.0
145600,3,SENIOR,11871,50,65 to 74 years,M4,Merced,July,2016,z,email,True,2003,False,7.0
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
156806,0,ADULT,17308,257,60 to 64 years,X,Main Library,July,2016,z,email,True,2003,False,6.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
176606,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
200204,3,SENIOR,18397,6,65 to 74 years,X,Main Library,July,2016,z,email,True,2005,False,NaN
216300,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,July,2016,z,email,True,2003,False,4.0
222889,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2006,False,8.0
227568,3,SENIOR,11147,123,65 to 74 years,M6,Mission,July,2016,a,print,False,2003,False,NaN
231807,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2003,False,8.0
237668,0,ADULT,15505,294,60 to 64 years,X,Main Library,July,2016,p,phone,False,2004,False,6.0
255021,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,NaN
278408,3,SENIOR,11366,62,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
288655,0,ADULT,15598,228,55 to 59 years,X,Main Library,July,2016,p,phone,False,2003,False,11.0
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016,p,phone,False,2003,False,6.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015,p,phone,False,2003,False,3.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016,z,email,True,2004,True,NaN

In [51]:
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
62,3,SENIOR,193,90,65 to 74 years,A5,Anza,July,2016,z,email,True,2007,False,1.0
176,3,SENIOR,7,8,65 to 74 years,X,Main Library,April,2014,z,email,True,2012,True,NaN
260,3,SENIOR,341,212,65 to 74 years,P1,Park,July,2016,z,email,True,2003,False,5.0
294,3,SENIOR,67,26,75 years and over,P5,Portola,July,2016,z,email,True,2009,False,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423359,3,SENIOR,4,0,75 years and over,W4,Western Addition,May,2013,z,email,True,2012,False,5.0
423388,3,SENIOR,25,34,75 years and over,X,Main Library,May,2016,z,email,True,2015,True,NaN
423403,3,SENIOR,458,129,75 years and over,E9,Excelsior,June,2016,z,email,True,2003,True,NaN
423405,3,SENIOR,280,27,75 years and over,X,Main Library,July,2016,z,email,True,2003,False,9.0
423431,3,SENIOR,0,0,75 years and over,X,Main Library,None,None,z,email,True,2012,False,6.0

In [52]:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

In [53]:
df.loc[df['Age Range'] == '0 to 9 years'].shape[0]

38242

In [54]:
df.loc[df['Total Checkouts'] > 20000].shape[0]

3

In [55]:
df.loc[df['Supervisor District'].isin([1, 2, 3])].shape[0]

70091

In [60]:
df.loc[df['Membership Duration'] == '0'].shape[0]

KeyError: 'Membership Duration'

In [ ]:
# Aufgabe 2.6

#    Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele Einträge erhältst Du?
Ich erhalte 38242 Kinder

#Gibt es Personen mit mehr als 20000 Ausleihen?
Es sind 3 Personen, die mehr als 20000 AUsleihen haben.

#Wie viele Personen stammen aus dem Norden San Franciscos (Supervisor Districts) 1, 2 und 3)? Nutze die Funktion Series.isin().
    Es stammen 70091 Personden aus dem Norden Sant Franciscos

#Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?

Konnte ich leider nicht herausfinden da es allem anschein nach keine Membership Duration in dieser Tabelle gibt.

In [62]:
import pandas as pd

df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage.csv")
df['Circulation Active Year']

0         None
1         2016
2         None
3         None
4         2016
          ...
423443    2015
423444    2016
423445    2016
423446    2015
423447    None
Name: Circulation Active Year, Length: 423448, dtype: object

In [64]:
df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage.csv", na_values="None")
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [65]:
df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage.csv", na_values="None")
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [1]:
a= None
b= "None"
print(type(a))

<class 'NoneType'>

In [2]:
print(type(b))

<class 'str'>

In [3]:
c= 5
d= "5"
print(type(c))

<class 'int'>

In [4]:
print(type(d))

<class 'str'>

In [8]:
e= True
f= "True"
print(type(e))
print(type(f))

<class 'bool'>
<class 'str'>

In [ ]:
#Aufgabe 2.7 

#Was unterscheidet den Wert None vom Wert "None"? Was den Wert 5 vom Wert "5"? Was den Wert "NaN" vom Wert NaN? Ist True und "True" das glei
None = NoneType 
"None" = ein String 
5 = int 
"5" = ein String
"NaN" = ein String 
NaN =Null Variable 
Nein ist es nicht True ist boolscher Operator und "True" ist String.

In [11]:
import pandas as pd

df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage.csv")
df['Circulation Active Year']

0         None
1         2016
2         None
3         None
4         2016
          ...
423443    2015
423444    2016
423445    2016
423446    2015
423447    None
Name: Circulation Active Year, Length: 423448, dtype: object

In [12]:
df[df['Age Range'].isna()]
df[df['Age Range'].notna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [13]:
df.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month             0
Circulation Active Year              0
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [14]:
df.dropna()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016,p,phone,True,2004,False,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [15]:
df['Age Range'].dropna()

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423233, dtype: object

In [16]:
df['Age Range'].fillna("keine Angabe")

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423448, dtype: object

In [17]:
df.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month             0
Circulation Active Year              0
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [18]:
df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage.csv", na_values="None")
df2 = df.dropna()
df2.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Outside of County               0
Supervisor District             0
dtype: int64

In [ ]:

#Aufgabe 2.8

#Welche Spalten enthalten alles fehlende Werte?

Folgende Spalten fehlen:
Age Range
Home Library Code
Supervisor District

#Wie viele Beobachtungen wurden dabei entfernt?
Es wurden dabei 148321 Beobachtungen entfernt.

In [19]:
df2.to_csv('~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Clean.csv')

In [20]:
df.shape[0] - df2.shape[0]

148321

In [22]:
import pandas as pd
df = pd.read_csv("~/2021-11-29-DL_Bianca_Nicklisch/Modul_3/data/Library_Usage_Clean.csv")
df.head(100)

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
1,4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
2,6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016.0,p,phone,True,2004,False,9.0
3,7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014.0,p,phone,True,2014,False,5.0
4,8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015.0,z,email,True,2011,False,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,211,0,ADULT,77,33,25 to 34 years,M4,Merced,June,2013.0,z,email,True,2008,False,7.0
96,212,0,ADULT,1805,261,20 to 24 years,R3,Richmond,December,2013.0,z,email,True,2003,False,1.0
97,218,0,ADULT,21,18,25 to 34 years,P9,Presidio,May,2014.0,z,email,True,2010,False,7.0
98,219,0,ADULT,1,0,20 to 24 years,M6,Mission,February,2015.0,p,phone,True,2015,False,9.0
99,223,0,ADULT,8,9,25 to 34 years,M6,Mission,May,2014.0,z,email,True,2010,False,9.0

In [23]:
df.describe(include='all')

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
count,275127.000000,275127.000000,275127,275127.000000,275127.000000,275127,275127,275127,275127,275127.000000,275127,275127,275127,275127.000000,275127,275127.000000
unique,NaN,NaN,18,NaN,NaN,10,74,35,12,NaN,4,4,2,NaN,2,NaN
top,NaN,NaN,ADULT,NaN,NaN,25 to 34 years,X,Main Library,July,NaN,z,email,True,NaN,False,NaN
freq,NaN,NaN,172586,NaN,NaN,54846,60201,60201,74005,NaN,205606,205606,214801,NaN,274824,NaN
mean,219235.822722,0.941896,NaN,206.226306,73.347683,NaN,NaN,NaN,NaN,2014.791769,NaN,NaN,NaN,2009.517961,NaN,6.285810
std,123808.835178,3.897485,NaN,500.187998,246.460065,NaN,NaN,NaN,NaN,1.523553,NaN,NaN,NaN,4.375770,NaN,3.133148
min,1.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2003.000000,NaN,NaN,NaN,2003.000000,NaN,1.000000
25%,111231.500000,0.000000,NaN,8.000000,0.000000,NaN,NaN,NaN,NaN,2014.000000,NaN,NaN,NaN,2005.000000,NaN,4.000000
50%,222881.000000,0.000000,NaN,39.000000,6.000000,NaN,NaN,NaN,NaN,2015.000000,NaN,NaN,NaN,2010.000000,NaN,7.000000
75%,329033.500000,1.000000,NaN,173.000000,42.000000,NaN,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,2013.000000,NaN,9.000000
max,423446.000000,104.000000,NaN,25223.000000,8965.000000,NaN,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,2016.000000,NaN,11.000000

In [24]:
print(df.min())
print(df['Total Renewals'].min())

Unnamed: 0                                 1
Patron Type Code                           0
Patron Type Definition                 ADULT
Total Checkouts                            0
Total Renewals                             0
Age Range                       0 to 9 years
Home Library Code                         A5
Home Library Definition                 Anza
Circulation Active Month               April
Circulation Active Year               2003.0
Notice Preference Code                     -
Notice Preference Definition           email
Provided Email Address                 False
Year Patron Registered                  2003
Outside of County                      False
Supervisor District                      1.0
dtype: object
0

In [25]:
df['Total Renewals'].sum()
df['Total Renewals'].between(100, 200).sum()

17374

In [26]:
df.columns
df.dtypes
df.shape

(275127, 16)